.navbar{
    width: 100%;
    border-bottom: 1px solid #83838383;
}
.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #000;
}
a{
    text-decoration: none;
}
.logo h2{
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    cursor : pointer;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.link{
    display: flex;
    gap: 2rem;
    list-style: none;
    list-style: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
}
.link a{
    text-decoration: none;
    color: #abababd2;
}
.link a:hover{
    color: #fff;
}

.cart{
    position: relative;
    cursor: pointer;
}
.cart-icon{
    font-size: 45px;
    color: #fff;
    transition: 15s ease;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: .5rem;
    border-radius: 50%;
    background: orange;
    position: absolute;
    right: -5px;
    top: 5px;
    color: #fff;
}

.cart-items{
    width: 400px;
    min-height: 100vh;
    background: #dbcfd5;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border-radius: .5rem;
}

.close-icon{
    cursor: pointer;
    font-size: 30px;
    padding: .2rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.active{
    color: orange;
}
.menu-icon{
    color: #fff;
    font-size: 45px;

}
.menu-items{
    position: absolute;
    width: 200px;
    height: 200px;
    background: #c2c2c2;
    top: 120px;
    right: 5px;
    border-radius: .5rem;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, .5);
    z-index: 1000;

}
.menu{
    display: none;
}
.link-1{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
    padding: 1rem;
    gap: .5rem;
    position: absolute;
    top: 15px;
}
.link-1 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
}
.link-1 a:hover{
    transition: .5s ease;
    color: orange;
}
@media (max-width: 500px) {
    .link{
        display: none;
    }
    .menu{
        display: flex;
    }
}